{% extends "base.html" %}

{% load staticfiles %}
{% load pinax_webanalytics_tags %}
{% load i18n %}


{% block styles %}
    <!-- <link href="{% static "css/site.css" %}" rel="stylesheet" /> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="css/homepage.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}


{% block extra_head_base %}
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block topbar_base %}
<header>
    <div class="navbar fixed-top {% block navbar_class %}navbar-expand-lg navbar-dark bg-dark{% endblock %}">
        <div class="container">
        {% block topbar %}
            {% block site_brand %}<span class="navbar-brand" href="{% url "home" %}">
            {% if request.user.is_staff %} {{ request.user.get_name_abr }}{% else %}{{ company.company_phone }}{% endif %}</span>{% endblock %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="fa fa-bars"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% block nav %}
                    <ul class="navbar-nav mr-auto">
                        {% block nav_items %}{% comment %}
                        <li class="nav-item"><a class="nav-link" href="#tab_one">One</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tab_two">Two</a></li>
                        {% endcomment %}{% endblock %}
                    </ul>
                {% endblock %}
                {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
            </div>
        {% endblock %}
        </div>
    </div>
</header>
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block scripts %}
    <!-- <script src="{% static "js/site.js" %}"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
